
{%load static%}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!-- Testimonials Section -->
<section class="py-5 bg-light">
    <div class="container">
        <h1 class="text-center mb-5 font-monospace fw-bold">What People Say?</h1>
        <div class="row">
            <!-- Testimonial 1 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100 border-0 shadow-sm">
                    <div class="card-body text-center p-4">
                        <img src="../media/avatars/img_0c82fef8.jpg" class="rounded-circle mb-3" width="66" height="66">
                        <p class="card-text mb-4">"LearnHub provides exceptional content that keeps learners motivated. I highly recommend it to anyone looking to enhance their skills!"</p>
                        <h5 class="card-title mb-1">Alice Thompson</h5>
                        <p class="text-muted small">Chief Learning Officer at SkillUp Academy</p>
                    </div>
                </div>
            </div>

            <!-- Testimonial 2 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100 border-0 shadow-sm">
                    <div class="card-body text-center p-4">
                        <img src="../media/avatars/img_1f5def16.jpg" class="rounded-circle mb-3" width="66" height="66">
                        <p class="card-text mb-5">"This platform makes learning engaging and accessible. It's a game-changer for both educators and students."</p>
                        <h5 class="card-title mb-1">Sofia Doe</h5>
                        <p class="text-muted small">Director of Learning Solutions at KnowledgeBase</p>
                    </div>
                </div>
            </div>

            <!-- Testimonial 3 -->
            <div class="col-md-4 mb-4">
                <div class="card h-100 border-0 shadow-sm">
                    <div class="card-body text-center p-4">
                        <img src="../media/avatars/img_6fcee00a.jpg" class="rounded-circle mb-3" width="66" height="66">
                        <p class="card-text mb-5">"LearnHub has transformed our approach to online education. The resources are comprehensive and user-friendly!"</p>
                        <h5 class="card-title mb-1">Michael Johnson</h5>
                        <p class="text-muted small">CEO of EduTech Innovations</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

 