

<section class="py-5">
    <div class="container">
      <h1 class="mb-4 font-monospace fw-bold">Popular Subjects</h1>
      <div class="row">
        <!-- http://127.0.0.1:8888/courses/course_list/?subject=web-dev -->
        <div class="col-6 col-md-3 mb-4">
          <a  href="courses/course_list/?subject=web-dev" class="card category-card h-100" style="text-decoration: none;" >
            <div class="card-body text-center">
              <i class="fas fa-laptop-code fa-3x mb-3 text-primary"></i>
              <h5 class="card-title fw-bold">Development</h5>
              <p class="card-text text-muted">Web, Mobile, Game Dev</p>
            </div>
          </a>
        </div>

        
        <div class="col-6 col-md-3 mb-4">
          <a  href="courses/course_list/?subject=cloud" class="card category-card h-100" style="text-decoration: none;" >
            <div class="card-body text-center">
              <i class="fas fa-cloud fa-3x mb-3 text-info"></i>
              <h5 class="card-title fw-bold">Cloud</h5>
              <p class="card-text text-muted">Infrastructure and Cloud Services</p>
            </div>
          </a>
        </div>

      
        <div class="col-6 col-md-3 mb-4">
          <a  href="courses/course_list/?subject=data-science" class="card category-card h-100" style="text-decoration: none;" >
            <div class="card-body text-center">
              <i class="fas fa-database fa-3x mb-3 text-secondary"></i>
              <h5 class="card-title fw-bold">Data Science</h5>
              <p class="card-text text-muted">Data Analysis and Visualization</p>
            </div>
          </a>
        </div>

        
        <div class="col-6 col-md-3 mb-4">
          <a  href="courses/course_list/?subject=ai" class="card category-card h-100" style="text-decoration: none;" >
            <div class="card-body text-center">
              <i class="fas fa-robot fa-3x mb-3 text-warning"></i>
              <h5 class="card-title fw-bold">AI</h5>
              <p class="card-text text-muted">Artificial Intelligence and Automation</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  