{% extends "base.html" %}

{% block content %}

{% for item in instructor %}
<div class="text-bg-dark">
    <div class="container pb-5">
        <div class="row">
            <div class="col-10 col-lg-8 mt-4 pt-4 mx-auto">
                <!--p class="">{{ item.id }}</p-->
                <div class="d-flex">   
                    <div class="position-relative w-75">
                        <p class="fs-1 fw-bold mb-0 fst-italic text-light">{{ item.first_name }} {{ item.last_name }}</p>
                      
                        <div class="d-flex mb-2">
                            <div class="me-2 fs-5 text-secondary fw-bold fst-italic">@</div>
                            <div class="fs-5 text-secondary fw-bold fst-italic">{{ item.username }}</div>
                        </div>
                    </div>
                </p>
                </div>
                <div class="d-flex my-4">
                    <span class="badge me-2 bg-success fw-bold fs-6 font-monospace text-light">Join Date</span>
                    <p class="ms-2 mb-0 fs-6 text-light">{{ item.date_joined }}</p>
                </div>
                <div class="d-flex my-4">
                    <span class="badge me-2 bg-info fw-bold fs-6 font-monospace text-light">Eamil</span>
                    <div class="ms-2 fs-6 text-light">{{ item.email }}</div>
                </div>
            </div>
        
            <div class="col mt-4 pt-4">
                <div class="card w-75 bg-transparent mx-auto">
                    <div class="mx-auto" style="overflow: hidden; width: 180px;">
                        <img src="{{ item.avatar.url }}" class="card-img-top rounded-circle" alt="..." style="object-fit: cover; width: 100%; height: 100%;">
                    </div>
                    <div class="card-body p-2 mx-auto">
                        <p class="card-text fs-4 fw-bold fst-italic text-light">{{ item.first_name }} {{ item.last_name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endfor %}

<div class="bg-white mt-2">
    <div class="container bg-white">
        <p class="fs-1 fw-bold font-monospace">Courses</p>
        {% for item in courses %}
        <div class="border rounded-2 my-3 py-2 px-3 bg-light" onclick="window.location.href='{% url 'course_detail' item.id %}';" style="cursor: pointer;">
            <div class="d-flex">
                <p class="fs-4 text-dark fw-bold">{{ item.title }}</p>
                <p></p>
            </div>
            <div class="d-flex">
                <img src="{{ item.thumbnail.url }}" class="card-img-top w-25" alt="...">
                <div class="d-flex ms-3 flex-column">
                    <p class="mb-0 fs-5 text-secondary-emphasis fw-bold">Description:</p>
                    <p class="fs-6 text-secondary fw-light">{{ item.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}