{% extends "base.html" %}
{% load static %}

{% block title %}FAQ{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="fw-bold font-monospace p-3 mb-3 rounded bg-body-tertiary shadow-sm text-primary">FAQ</h1>
    <div class=" p-3 mb-3 rounded bg-body-tertiary shadow-sm ">
        <h2 class="fw-bold font-monospace">1. What is LearnHub?</h2>
        <p>LearnHub is an online learning platform.</p>
        <br><br>
        <h2 class="fw-bold font-monospace">2. Is here LearnHub?</h2>
        <p>Yes. Here is LearnHub.</p>
    </div>
</div>
{% endblock %}