{% extends "base.html" %}
{% load static %}

{% block title %}Refund Policy{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="fw-bold font-monospace p-3 mb-3 rounded bg-body-tertiary shadow-sm text-primary">Refund Policy</h1>

    <div class=" p-3 mb-3 rounded bg-body-tertiary shadow-sm ">
        <p>At LearnHub, we strive to make sure you are satisfied with your purchase. This refund policy outlines the terms and conditions of refunds provided to our services.</p>
    
        <h2 class="fw-bold font-monospace">1. Eligibility for Refunds</h2>
        <p>You can request a refund within 14 days of purchase:</p>
        <ul>
            <li>You have not accessed more than 10% of course content yet;</li>
            <li>The course does not meet the description provided.</li>
        </ul>
        <br><br>
        <h2 class="fw-bold font-monospace">2. Non-Refundable Items</h2>
        <p>No refund will be provided if:</p>
        <ul>
            <li>You have accessed over 10% of the course content;/li>
            <li>Refund requests are made after 14 refund periods.</li>
        </ul>
        <br><br>
        <h2 class="fw-bold font-monospace">3. How to Request a Refund</h2>
        <p>To request a refund, please contact us , a settlement of the following information:</p>
        <ul>
            <li>Name;</li>
            <li>The email address used for the purchase;</li>
        </ul>
    </div>

</div>
{% endblock %}