{% extends "base.html" %}
{% load static %}

{% block title %}Terms of Service{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="fw-bold font-monospace p-3 mb-3 rounded bg-body-tertiary shadow-sm text-primary">Terms of Service</h1>
    <div class="d-flex mx-auto justify-content-center pt-3 mb-3 rounded bg-body-tertiary">
        <p class="text-center font-monospace fs-4">WELCOME to&nbsp;</p>
        <p class="text-center font-monospace fs-4 text-primary fw-bold">LearnHub</p>
        <p class="text-center font-monospace fs-4">!</p>
    </div>

    <div class=" p-3 mb-5 rounded bg-body-tertiary shadow-sm">

        <h2 class="fw-bold font-monospace">1. Acceptance of Terms</h2>
        <p>By using our Services, you acknowledge that you accept these Terms and agree to comply with these Terms. If you do not agree to these Terms, you may not use our Services.</p>
        <br><br>
        <h2 class="fw-bold font-monospace">2. User Accounts</h2>
        <p>You may need to create an account to access some of LearnHub's features. It is your responsibility to maintain confidence in your account and password.</p>
        <br><br>
        <h2 class="fw-bold font-monospace">3. Content and Intellectual Property</h2>
        <p>All content available on LearnHub, including courses, text, graphics and images, are attributes of LearnHub or its content creators and are protected by intellectual property laws.</p>
    

    </div>

</div>
{% endblock %}