{% extends "base.html" %}
{% load static %}

{% block title %}Privacy Policy - LearnHub{% endblock %}

{% block content %}
<div class="container my-5">
    <h1>Privacy Policy</h1>
    <p>This Privacy Policy was last updated on April 06, 2025</p>
    <p>Thank you for joining LearnHub!We are respect your privacy and want you to understand how we collect.</p>
    <p>By using the Services, you agree to the terms of this Privacy Policy.</p>
    <ul>

        <li><a href="#type-person-data-collected">Types of personal data collected</a></li>
        <li><a href="#online-user">Online users</a></li>
        <li><a href="#security">Security</a></li>
    </ul>

    <h2><a name="type-person-data-collected"></a>Types of personal data collected</h2>
    <p>The types of personal information collected include:</p>
    <p>&nbsp;</p>
    <ul>
        <li>your name;</li>
        <li>your gender;</li>
        <li>your&nbsp;profile picture;</li>
        <li>your Facebook;</li>
        <li>your&nbsp;Twitter ID;</li>
        <li>your&nbsp;Instagram ID;</li>
        <li>your&nbsp;LinkedIn ID.</li>
    </ul>

    <p>&nbsp;</p>
    <h2><a name="online-user"></a>Online users</h2>
    <p>When accessing us, our servers may automatically collect data about your Internet address.</p>
    <h2><a name="security"></a>Security</h2>
    <p>We take appropriate security measures to prevent unauthorized access.</p>
    <p>&nbsp;</p>
</div>
{% endblock %}