<nav class="navbar navbar-expand-lg fixed-top bg-light shadow">
    <div class="container-fluid d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <a class="navbar-brand fs-4 text-primary fw-bold my-0 py-0" href="/">OnlineStudy</a>
            <a class="nav-link text-body-secondary fw-light h-75" style="font-size: 14px;" href="/courses/">Explore All Courses</a>
        </div>
        <div class="d-flex justify-content-end align-items-center">
            <a class="btn btn-outline-primary mx-1 fw-bold" style="font-size: 14px;" href="/">Cart</a>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-outline-primary ms-1 fw-bold" style="font-size: 14px;" href="/">Login</a>
                <a class="btn btn-primary me-1 fw-bold" style="font-size: 14px;" href="/">Sign Up</a>
            </div>
        </div>
    </div>
</nav>