<nav class="navbar navbar-expand-lg fixed-top bg-light shadow-sm">
    <div class="container-fluid d-flex justify-content-between">
        <div class="d-flex">
            <a class="navbar-brand h1 text-primary fw-bold" href="/">OnlineStudy</a>
            <a class="nav-link pt-2 text-body-secondary" href="/courses/">Explore</a>
        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-outline-primary mx-1 fw-bold" type="button">Cart</button>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-outline-primary ms-1 fw-bold" type="button">Login</button>
                <button class="btn btn-primary me-1 fw-bold" type="button">Sign Up</button>
            </div>
        </div>
    </div>
</nav>