{% extends "base.html" %}
{% load static %}

{% block title %}Terms of Service{% endblock %}

{% block content %}
<div class="container my-5">
    <h1>Terms of Service</h1>
    <p>Welcome to LearnHub!</p>

    <h2>1. Acceptance of Terms</h2>
    <p>By using our Services, you acknowledge that you accept these Terms and agree to comply with these Terms. If you do not agree to these Terms, you may not use our Services.</p>

    <h2>2. User Accounts</h2>
    <p>You may need to create an account to access some of LearnHub's features. It is your responsibility to maintain confidence in your account and password.</p>

    <h2>3. Content and Intellectual Property</h2>
    <p>All content available on LearnHub, including courses, text, graphics and images, are attributes of LearnHub or its content creators and are protected by intellectual property laws.</p>


</div>
{% endblock %}