<section class="py-5 bg-light">
    <div class="container">
    
        <h1 class="mb-4 font-monospace fw-bold">Our Instructor</h1>

        <div class="container mw-75 position-relative"><!-- instructor -->
            <div class="container mw-75 py-3">
                <div class="d-flex flex-nowrap overflow-hidden px-0" id="scrollInstructor" role="tablist" style="max-width: 100%; width: 100%;">
                    {% for instructor in instructors %}
                    <div class="mx-1" id="instructorCardContainer">
                        <div class="card" id="instructorCard" role="presentation" onclick="window.location.href='{% url 'instructor_detail' instructor.id %}';" style="min-width: 25%; cursor: pointer;">
                            <img src="{{ instructor.avatar.url }}" class="card-img-top" id="instructorAvatar">
                            <div class="card-body p-2">
                                <p class="card-subtitle fs-5 fw-bold mx-0 my-2">{{ instructor.first_name }} {{ instructor.last_name }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <button type="button" class="p-0 opacity-25 btn btn-dark shadow rounded-circle border position-absolute translate-middle top-50 start-0 d-flex justify-content-center align-items-center" 
            style="width: 30px; height: 30px;" id="scrollLeftInstructor">
                <span class="carousel-control-prev-icon" aria-hidden="true" style="width: 16px;"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button type="button" class="p-0 opacity-25 btn btn-dark shadow rounded-circle border position-absolute translate-middle top-50 start-100 d-flex justify-content-center align-items-center" 
            style="width: 30px; height: 30px;" id="scrollRightInstructor">
                <span class="carousel-control-next-icon" aria-hidden="true" style="width: 16px;"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>


<style>
    #instructorAvatar{
        object-fit: cover;
    }
    #instructorCard{
        height: 350px;
        width: 255px;
    }
    #instructorCardContainer {
        height: 350px;
        width: 25%;
    }
    @media screen and (max-width: 1200px) {
        #instructorCard{
            height: 430px;
            width: 355px;
        }
        #instructorCardContainer {
            height: 430px;
            width: 50%;
        }
    }
    @media screen and (max-width: 992px) {
        #instructorCard{
            height: 430px;
            width: 355px;
        }
        #instructorCardContainer {
            height: 430px;
            width: 355px;
        }
    }
    @media screen and (max-width: 768px) {
        #instructorCard{
            height: 430px;
            width: 355px;
        }
        #instructorCardContainer {
            height: 430px;
            width: 355px;
        }
    }
</style>