<section class="py-5 bg-light">
    <div class="container">
    
        <h1 class="mb-4 font-monospace fw-bold">Popular Courses</h1>
    
        <div class="container mw-75 position-relative"><!-- nav tap with courseType -->
            <ul class="nav nav-underline d-flex flex-nowrap overflow-hidden px-0 align-items-end" id="myTab" role="tablist" style="max-width: 100%; width: 100%;">
                {% for coursetype in coursetypes %}
                    <li class="nav-item" role="presentation">
                        <button class="font-monospace nav-link fw-bold px-0 {% if forloop.first %} active {% else %} text-secondary {% endif %}" 
                                id="{{ coursetype.id }}-tab" 
                                data-bs-toggle="tab" 
                                data-bs-target="#{{ coursetype.id }}" 
                                type="button" 
                                role="tab" 
                                aria-controls="{{ coursetype.id }}" 
                                aria-selected="{% if forloop.first %} true {% else %} false {% endif %}"
                                style="width: 200px;">
                            {{ coursetype.name }}
                        </button>
                    </li>
                {% endfor %}
            </ul>
            <button type="button" class="p-0 opacity-25 btn btn-dark shadow rounded-circle border position-absolute translate-middle top-50 start-0 d-flex justify-content-center align-items-center" 
            style="width: 30px; height: 30px;" id="scrollLeftInTab">
            <span class="carousel-control-prev-icon" aria-hidden="true" style="width: 16px;"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button type="button" class="p-0 opacity-25 btn btn-dark shadow rounded-circle border position-absolute translate-middle top-50 start-100 d-flex justify-content-center align-items-center" 
            style="width: 30px; height: 30px;" id="scrollRightInTab">
            <span class="carousel-control-next-icon" aria-hidden="true" style="width: 16px;"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
        
        <div class="container mw-75 position-relative"><!-- list courses by course type -->
            <div class="container mw-75 py-3">
                <div class="tab-content overflow-hidden" id="myTabContent">
                    {% for coursetype in coursetypes %}<!-- a group of specify course type -->
                        <div class="mt-1 tab-pane fade {% if forloop.first %}show active{% endif %}" id="{{ coursetype.id }}" role="tabpanel" aria-labelledby="{{ coursetype.id }}-tab">
                            <div class="d-flex overflow-hidden" id="scrollTable" style="max-width: 100%; width: 100%; min-width: 600px;">
                                {% for course in courses %}
                                    {% if course.category_id == coursetype.id %}<!-- all course card in the specify type -->
                                        <div class="mx-1 w-25" id="courseCardContainer">
                                            <div class="card" id="courseCard" onclick="window.location.href='{% url 'course_detail' course.id %}';" style="cursor: pointer;">
                                                <img src="{{ course.thumbnail.url }}" class="card-img-top">
                                                <div class="card-body">
                                                    <p class="card-title fs-6 fw-bold text-truncate">{{ course.title }}</p>
                                                    <p class="card-subtitle text-body-tertiary fs-6 ">{{ course.instructor.first_name }} {{ course.instructor.last_name }}</p>
                                                    {% comment %} <p class="card-text fs-5 fw-bold mt-1">${{ course.price }}</p> {% endcomment %}
                                                    <div>
                                                        {% if course.is_free %}
                                                            <!-- <span class="current-price fs-5 fw-bold mt-1 text-dark-emphasis text-decoration-line-through">${{ course.price }}</span> -->
                                                            <span class="badge bg-warning text-dark fw-bold">FREE</span>
                                                        {% else %}
                                                            <span class="current-price fs-5 fw-bold mt-1">${{ course.price }}</span>
                                                            {% if course.discount_price %}
                                                            <span class="original-price fs-5 fw-bold mt-1">${{ course.discount_price }}</span>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                    <!--a href="#" class="btn btn-primary btn-sm">View more</a-->
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <a class="btn btn-outline-primary mt-5 ms-2 fw-light" href="/courses/course_list/?category={{ coursetype.id }}&page=1">Show all {{ coursetype.name }} courses</a>
                            
                        </div>
                    {% endfor %}
                </div>
            </div>
            <button type="button" class="p-0 opacity-25 btn btn-dark shadow rounded-circle border position-absolute translate-middle top-50 start-0 d-flex justify-content-center align-items-center" 
            style="width: 30px; height: 30px;" id="scrollLeft">
                <span class="carousel-control-prev-icon" aria-hidden="true" style="width: 16px;"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button type="button" class="p-0 opacity-25 btn btn-dark shadow rounded-circle border position-absolute translate-middle top-50 start-100 d-flex justify-content-center align-items-center" 
            style="width: 30px; height: 30px;" id="scrollRight">
                <span class="carousel-control-next-icon" aria-hidden="true" style="width: 16px;"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<style>
    #courseCard{
        height: 270px;
        width: 250px;
    }
    #courseCardContainer {
        height: 270px !important;
        width: 250px !important;
    }
    @media screen and (max-width: 768px) {
        #courseCard{
            height: 350px;
            width: 330px;
        }
        #courseCardContainer {
            height: 350px !important;
            width: 330px !important;
        }
    }
</style>