{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/autocomplete.css' %}">
    {% include 'include/css.html'%}
  <title>ITP4208-EA</title>
</head>

<body class="overflow-x-hidden">

  {% include 'include/nav.html'%}

  {% block content %}
  {% endblock %}

  {% include 'include/footer.html'%}

  <script src="{% static 'js/home_course_recommand.js' %}"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/course_list.js' %}"></script>
  <script src="{% static 'js/autocomplete.js' %}"></script>
  <script src="{% static 'js/home_instructor_recommand.js' %}"></script>

</body>

</html>