{% extends "base.html" %}

{% block content %}

{% for item in instructor %}
<div class="text-bg-dark">
    <div class="container pb-5">
        <div class="row">
            <div class="col-8 mt-4 pt-4">
                <!--p class="">{{ item.id }}</p-->
                <div class="d-flex">   
                    <div class="position-relative w-75">
                        <p class="fs-1 fw-bold text-warning ">{{ item.first_name }} {{ item.last_name }}</p>
                        <span class="badge text-bg-warning position-absolute top-0 start-50">Instructor</span>
                        <div class="d-flex mb-2">
                            <div class="me-2 fs-5 text-info fw-bold">Username: </div>
                            <div class="fs-5 fw-bold">{{ item.username }}</div>
                        </div>
                    </div>
                </p>
                </div>
                <div class="d-flex my-2">
                    <p class="me-2 fw-bold text-success fs-5">Join Date: </p>
                    <p class="fs-5 fw-bold">{{ item.date_joined }}</p>
                </div>
                <div class="d-flex my-2">
                    <div class="me-2 text-info fw-bold fs-5">Eamil: </div>
                    <div class="ms-2 fs-5 fw-bold">{{ item.email }}</div>
                </div>
            </div>
        
            <div class="col mt-4 pt-4">
                <div class="card w-75">
                    <img src="{{ item.avatar.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text fs-4 fw-bold">{{ item.first_name }} {{ item.last_name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endfor %}

<div class="bg-white">
    <div class="container bg-white">
        <p class="fs-1 fw-bold">Courses</p>
        {% for item in courses %}
        <div class="border rounded-2 my-3 py-2 px-3 bg-light" onclick="window.location.href='{% url 'course_detail' item.id %}';" style="cursor: pointer;">
            <div class="d-flex">
                <p class="fs-3 text-primary fw-bold">{{ item.title }}</p>
                <p></p>
            </div>
            <div class="d-flex">
                <img src="{{ item.thumbnail.url }}" class="card-img-top w-25" alt="...">
                <div class="d-flex ms-3 flex-column">
                    <p class="fs-5 text-secondary-emphasis fw-bold">Description</p>
                    <p class="fs-6 text-secondary">{{ item.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}