{% extends "base.html" %}

{% block content %}

{% for item in instructor %}
<div>{{ item.first_name }} {{ item.last_name }}</div>
{% endfor %}

{% for item in course %}
<div class="text-bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-8 mt-4 pt-4">
                <!--p class="">{{ item.id }}</p-->
                <div class="d-flex">   
                    <div class="position-relative w-75">
                        <p class="fs-1 fw-bold text-white ">{{ item.title }}</p>
                        <span class="badge text-bg-info position-absolute top-0 start-100">Level: {{ item.level }}</span>
                    </div>
                </p>
                </div>
                <div class="d-flex">
                    <p class="me-2 fw-bold">Tags:</p>
                    <p class="fs-6 text-secondary-emphasis fw-light text-light ">{{ item.applications_covered}}</p>
                </div>
                <div class="d-flex">
                    <p class="fw-bold text-info">Created: </p>
                    <p class="mx-2">{{ item.created_at }}</p>
                    <p class="mx-2 fw-bold text-success">Last updated: </p>
                    <p class="text-success">{{ item.updated_at }}</p>
                </div>
                <!--p class="">{{ item.is_published }}</p-->
                <!--p class="">Instructor ID: {{ item.instructor_id }}</p-->
                <div class="d-flex">
                    <p class="me-2 fw-bold text-info">Instructor: </p>
                    <p class="ms-2 ">{{ item.instructor.first_name }} {{ item.instructor.last_name }}</p>
                </div>
                <!--p class="">Category ID: {{ item.category.id }}</!p-->
                <div class="d-flex">
                    <p class="me-2 fw-bold text-info">Category: </p>
                    <p class="ms-2">{{ item.category.name }}</p>
                </div>
                <div class="d-flex">
                    <p class="me-2 text-warning fw-bold">Rating: {{ item.average_rating }}</p>
                    <p class="text-decoration-underline text-info">({{ item.rating_count }}) ratings</p>
                </div>
            </div>
        
            <div class="col mt-4 pt-4">
                <div class="card w-75">
                    <img src="{{ item.thumbnail.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text fs-4 fw-bold">$ {{ item.price }}</p>
                        <div class="d-flex flex-column">
                            <a href="#" class="btn btn-outline-primary my-1">Add to cart</a>
                            <a href="#" class="btn btn-primary my-1">Buy now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="bg-white">
    <div class="container bg-white">
        <p class="fs-1 fw-bold">Description</p>
        <p class="fs-6 text-secondary-emphasis ">{{ item.description }}</p>
        
    </div>
</div>

{% endfor %}

<div class="bg-white">
    <div class="container bg-white">
        <p class="fs-1 fw-bold">Lessons</p>
        {% for item in lessons %}
        <div class="border rounded-2 my-3 py-2 px-1">
            <p class="fs-5 text-secondary-emphasis fw-bold">{{ item.title }}</p>
            <p class="fs-6 text-secondary-emphasis ">{{ item.content }}</p>
            <iframe width="560" height="315" src="{{ item.video_url }}" title="video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        {% endfor %}
    </div>
</div>

<div class="bg-white">
    <div class="container bg-white">
        <p class="fs-1 fw-bold">Reviews</p>
        {% for item in reviews %}
        <div class="border rounded-2 my-2 py-2 px-1">
            <p class="fs-5 text-secondary-emphasis fw-bold">{{ item.student.first_name }} {{ item.student.last_name }}</p>
            <div class="d-flex">
                <p class="me-2 fs-6 text-secondary-emphasis fw-bold text-warning">Rating:{{ item.rating }}</p>
                <p class="ms-2 fs-6 text-secondary-emphasis ">{{ item.created_at }}</p>
            </div>
            <p class="fs-6 text-secondary-emphasis border-top">{{ item.comment }}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}